  <div class="survey-cta content-highlight">
  <h2>Research Volunteers Needed</h2>
  <p>We're looking for instructors at Canadian universities and colleges to complete a survey on AI and higher education. Would you like to participate?</p>
  <div class="centered">
    <a class="btn btn-lg get-started-btn btn-survey" href="https://surveys.mcmaster.ca/limesurvey/index.php/6636?lang=en" target="_blank">Take the Survey</a>
    <a class="btn btn-lg get-started-btn btn-loi" href="/project-background">Learn More</a>
  </div>
  <p>For the full details of the survey, please see the <a href="https://mcmasteru365-my.sharepoint.com/:b:/g/personal/taylob36_mcmaster_ca/EfOTe6YH9JhKvAx1SmZRn3EBDQwgBIn3foTQ-h1XOlqPIw" target="_blank">Letter of Information</a>, or contact <a href="mailto:taylob36@mcmaster.ca">Ben Lee Taylor</a> with any questions or concerns.</p>
  
  <p>This study has been reviewed and received ethics clearance from the <a href="mailto:mreb@mcmaster.ca">McMaster Research Ethics Board</a> (Project #6636). </p>
  
</div>
