  <div class="survey-cta content-highlight">
  <h2>Research Volunteers Needed</h2>
  <p>We're looking for instructors at Canadian universities and colleges to complete a survey on AI and higher education. Would you like to participate?</p>
  <div class="centered">
    <a class="btn btn-success btn-lg get-started-btn btn-survey" href="#">Take the Survey</a>
    <a class="btn btn-primary btn-lg get-started-btn btn-loi" href="#">Learn More</a>
  </div>
  <p>Please contact <a href="mailto:taylob36@mcmaster.ca">Ben Lee Taylor</a> for more information.</p>
  <p>This study has been reviewed and received ethics clearance from the <a href="mailto:mreb@mcmaster.ca">McMaster Research Ethics Board</a> (Project #6636). </p>
  
</div>
