  <div class="survey-cta content-highlight">
  <h2>Survey Closed!</h2>
  <p>Thank you to all the participants who completed our survey and submitted sample assessments. We are currently interviewing participants and hope to publish results within the coming months. Stay tuned!</p>
 
  <p>Please contact <a href="mailto:taylob36@mcmaster.ca">Ben Lee Taylor</a> with any questions or concerns.</p>
  
  <p>This study has been reviewed and received ethics clearance from the <a href="mailto:mreb@mcmaster.ca">McMaster Research Ethics Board</a> (Project #6636). </p>
  
</div>
